BasedOnStyle: LLVM
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
LambdaBodyIndentation: OuterScope
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 120
BreakBeforeBraces: Allman
NamespaceIndentation: None
IndentCaseLabels: false
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AllowShortEnumsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword: false
SortIncludes: Never
FixNamespaceComments: false
LineEnding: CRLF
